<div class="component-article-detail">
  <div class="header-section">
    <h1>ดวลน่าลุ้น! พีพีเพิ่มจ่ายซาลาห์-มาเน่ซัดเข้ากรอบ 2 ลูกขึ้น</h1>
    <div class="meta-social">
      <div class="meta">
        <div class="date-view">
          <div class="date">12 Mar 2022, 18:32</div>
          <div class="pipe"> | </div>
          <div class="views">จำนวนคนดู 32,674 ครั้ง</div>
        </div>
        <div class="tag-group">
          <div class="tag">BET News</div>
          <div class="tag">Manchester City</div>
        </div>
      </div>
      <div class="social">
        <div>แชร์</div>
        <div><img src="./images/article/share-icon.png" alt=""></div>
        <div><img src="./images/article/facebook-icon.png" alt=""></div>
        <div><img src="./images/article/twitter-icon.png" alt=""></div>
        <div><img src="./images/article/line-icon.png" alt=""></div>
      </div>
    </div>
  </div>
  <div class="article-body-section">
    <img src="./images/placeholder/article-1.png" alt="">
    <h1>H1: ดวลน่าลุ้น! พีพีเพิ่มจ่ายซาลาห์-มาเน่ซัดเข้ากรอบ2ลูกขึ้น</h1>
    <h2>H2: ดวลน่าลุ้น! พีพีเพิ่มจ่ายซาลาห์-มาเน่ซัดเข้ากรอบ2ลูกขึ้น</h2>
    <h3>H3: ดวลน่าลุ้น! พีพีเพิ่มจ่ายซาลาห์-มาเน่ซัดเข้ากรอบ2ลูกขึ้น</h3>
    <p>แพดดี้ พาวเวอร์ แหล่งเดิมพันดังค่ายเขียวจัดการเพิ่มจ่ายเคสเดิมพัน <strong>โมฮาเม็ด ซาลาห์</strong> และ <strong>ซาดิโอ มาเน่</strong> ยิงเข้ากรอบ 2 ลูกขึ้นไปในศึก แอฟริกา คัพ ออฟ เนชั่นส์ รอบชิงชนะเลิศ คํ่าคืนวันอาทิตย์นี้</p>

    <p>โดย <i>เซเนกัล</i> และ อียิปต์ จะต้องมาเจอกันในรอบชิงชนะเลิศรายการระดับทวีปของตัวเอง ซึ่งยังเป็นการดวลกัน ของ มาเน่ และ ซาลาห์ สองคู่หูตัวเก่งจาก ลิเวอร์พูล อีกด้วย</p>

    <p>อย่างไรก็ดีทางบ่อนดังเพิ่มจ่ายให้หากนักเตะทั้งสองรายสามารถซัดเข้ากรอบได้ 2 ลูกขึ้นไป จากเดิมแทง 2 จ่าย 9 เป็นแทง 1 จ่าย 7 ด้วยกัน</p>
    <div class="text-center">
      <blockquote>“ผลงานช่วงหลังหนักไปทางแย่ ไม่ชนะใครมา 6 เกมติดแล้ว”</blockquote>
    </div>
    <img src="./images/placeholder/article-2.png" alt="">
  </div>
</div>
