<div class="component-guru-analyze-item">
  <div class="guru-name">
    <div class="background">
      <div class="image" style="background-image: url('/images/placeholder/guru-placeholder.png');"></div>
      <div class="text">
        อาเล่แมน
      </div>
    </div>
  </div>
  <div class="stats-group">
    <div class="stats-item">
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">อตาลันต้า</div>
        <div class="stat">
          <div class="number">-0.5</div>
          <div class="icon check"></div>
        </div>
      </div>
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">ยูเวนตุส</div>
        <div class="stat">
          <div class="number">-0.5</div>
          <div class="icon check"></div>
        </div>
      </div>
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">ลาซิโอ</div>
        <div class="stat">
          <div class="number">-0</div>
          <div class="icon xmark"></div>
        </div>
      </div>
    </div>
    <div class="summary-group">
      <div class="item summary">
        <div class="title">ผลรวม</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>2</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>1</span></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="item current">
        <div class="title">เดือนนี้</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>43</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>42</span></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="item last">
        <div class="title">เดือนที่แล้ว</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>29</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>37</span></div>
            <div class="line" style="width: 80%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- component-guru-analyze-item -->

<div class="component-guru-analyze-item">
  <div class="guru-name">
    <div class="background">
      <div class="image" style="background-image: url('/images/placeholder/guru-placeholder.png');"></div>
      <div class="text">
        อาเล่แมน
      </div>
    </div>
  </div>
  <div class="stats-group">
    <div class="stats-item">
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">อตาลันต้า</div>
        <div class="stat">
          <div class="number">-0.5</div>
          <div class="icon check"></div>
        </div>
      </div>
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">ยูเวนตุส</div>
        <div class="stat">
          <div class="number">-0.5</div>
          <div class="icon check"></div>
        </div>
      </div>
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">ลาซิโอ</div>
        <div class="stat">
          <div class="number">-0</div>
          <div class="icon xmark"></div>
        </div>
      </div>
    </div>
    <div class="summary-group">
      <div class="item summary">
        <div class="title">ผลรวม</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>2</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>1</span></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="item current">
        <div class="title">เดือนนี้</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>43</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>42</span></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="item last">
        <div class="title">เดือนที่แล้ว</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>29</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>37</span></div>
            <div class="line" style="width: 80%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- component-guru-analyze-item -->

<div class="component-guru-analyze-item">
  <div class="guru-name">
    <div class="background">
      <div class="image" style="background-image: url('/images/placeholder/guru-placeholder.png');"></div>
      <div class="text">
        อาเล่แมน
      </div>
    </div>
  </div>
  <div class="stats-group">
    <div class="stats-item">
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">อตาลันต้า</div>
        <div class="stat">
          <div class="number">-0.5</div>
          <div class="icon check"></div>
        </div>
      </div>
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">ยูเวนตุส</div>
        <div class="stat">
          <div class="number">-0.5</div>
          <div class="icon check"></div>
        </div>
      </div>
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">ลาซิโอ</div>
        <div class="stat">
          <div class="number">-0</div>
          <div class="icon xmark"></div>
        </div>
      </div>
    </div>
    <div class="summary-group">
      <div class="item summary">
        <div class="title">ผลรวม</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>2</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>1</span></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="item current">
        <div class="title">เดือนนี้</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>43</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>42</span></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="item last">
        <div class="title">เดือนที่แล้ว</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>29</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>37</span></div>
            <div class="line" style="width: 80%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- component-guru-analyze-item -->

<div class="component-guru-analyze-item">
  <div class="guru-name">
    <div class="background">
      <div class="image" style="background-image: url('/images/placeholder/guru-placeholder.png');"></div>
      <div class="text">
        อาเล่แมน
      </div>
    </div>
  </div>
  <div class="stats-group">
    <div class="stats-item">
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">อตาลันต้า</div>
        <div class="stat">
          <div class="number">-0.5</div>
          <div class="icon check"></div>
        </div>
      </div>
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">ยูเวนตุส</div>
        <div class="stat">
          <div class="number">-0.5</div>
          <div class="icon check"></div>
        </div>
      </div>
      <div class="item">
        <div class="image"><img src="/images/placeholder/m-city.png" alt="อตาลันต้า"/></div>
        <div class="name">ลาซิโอ</div>
        <div class="stat">
          <div class="number">-0</div>
          <div class="icon xmark"></div>
        </div>
      </div>
    </div>
    <div class="summary-group">
      <div class="item summary">
        <div class="title">ผลรวม</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>2</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>1</span></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="item current">
        <div class="title">เดือนนี้</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>43</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>42</span></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="item last">
        <div class="title">เดือนที่แล้ว</div>
        <div class="number-group">
          <div class="correct">
            <div class="text">ถูก <span>29</span></div>
            <div class="line"></div>
          </div>
          <div class="incorrect">
            <div class="text">ผิด <span>37</span></div>
            <div class="line" style="width: 80%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- component-guru-analyze-item -->
