<div class="component-scoreboard">
  <div class="section-date">อัพเดทล่าสุดเมื่อวันที่ <span>20 มีนาคม 2565</span></div>
  <div class="scroll-view">
    <div class="scroll-view-container">
      <div class="section-scoreboard-header">
        <div class="scoreboard-item">
          <div class="no">อันดับ</div>
          <div class="team">ทีม</div>
          <div class="numbers">
            <div class="p">P</div>
            <div class="w">W</div>
            <div class="d">D</div>
            <div class="l">L</div>
            <div class="f">F</div>
            <div class="a">A</div>
            <div class="pm">+/-</div>
            <div class="pts">PTS</div>
          </div>
          <div class="form">Form</div>
        </div>
      </div>
      <div class="section-scoreboard-list">
        
        <div class="scoreboard-item hilight">
          <div class="no">
            1
          </div>
          <div class="team">
            <img src="./images/placeholder/m-city.png" alt="">
            <div class="name">Manchester City</div>
          </div>
          <div class="numbers">
            <div class="p">32</div>
            <div class="w">29</div>
            <div class="d">6</div>
            <div class="l">3</div>
            <div class="f">99</div>
            <div class="a">26</div>
            <div class="pm">+73</div>
            <div class="pts">93</div>
          </div>
          <div class="form">
            <div class="win">W</div>
            <div class="draw">D</div>
            <div class="loss">L</div>
            <div class="win">W</div>
            <div class="win">W</div>
          </div>
        </div>

        <div class="scoreboard-item hilight">
          <div class="no ">
            2
          </div>
          <div class="team">
            <img src="./images/placeholder/m-city.png" alt="">
            <div class="name">Manchester City</div>
          </div>
          <div class="numbers">
            <div class="p">32</div>
            <div class="w">29</div>
            <div class="d">6</div>
            <div class="l">3</div>
            <div class="f">99</div>
            <div class="a">26</div>
            <div class="pm">+73</div>
            <div class="pts">93</div>
          </div>
          <div class="form">
            <div class="win">W</div>
            <div class="draw">D</div>
            <div class="loss">L</div>
            <div class="win">W</div>
            <div class="win">W</div>
          </div>
        </div>

        <div class="scoreboard-item hilight">
          <div class="no">
            3
          </div>
          <div class="team">
            <img src="./images/placeholder/m-city.png" alt="">
            <div class="name">Manchester City</div>
          </div>
          <div class="numbers">
            <div class="p">32</div>
            <div class="w">29</div>
            <div class="d">6</div>
            <div class="l">3</div>
            <div class="f">99</div>
            <div class="a">26</div>
            <div class="pm">+73</div>
            <div class="pts">93</div>
          </div>
          <div class="form">
            <div class="win">W</div>
            <div class="draw">D</div>
            <div class="loss">L</div>
            <div class="win">W</div>
            <div class="win">W</div>
          </div>
        </div>

        <div class="scoreboard-item hilight">
          <div class="no">
            4
          </div>
          <div class="team">
            <img src="./images/placeholder/m-city.png" alt="">
            <div class="name">Manchester City</div>
          </div>
          <div class="numbers">
            <div class="p">32</div>
            <div class="w">29</div>
            <div class="d">6</div>
            <div class="l">3</div>
            <div class="f">99</div>
            <div class="a">26</div>
            <div class="pm">+73</div>
            <div class="pts">93</div>
          </div>
          <div class="form">
            <div class="win">W</div>
            <div class="draw">D</div>
            <div class="loss">L</div>
            <div class="win">W</div>
            <div class="win">W</div>
          </div>
        </div>

        <div class="scoreboard-item hilight">
          <div class="no">
            5
          </div>
          <div class="team">
            <img src="./images/placeholder/m-city.png" alt="">
            <div class="name">Manchester City</div>
          </div>
          <div class="numbers">
            <div class="p">32</div>
            <div class="w">29</div>
            <div class="d">6</div>
            <div class="l">3</div>
            <div class="f">99</div>
            <div class="a">26</div>
            <div class="pm">+73</div>
            <div class="pts">93</div>
          </div>
          <div class="form">
            <div class="win">W</div>
            <div class="draw">D</div>
            <div class="loss">L</div>
            <div class="win">W</div>
            <div class="win">W</div>
          </div>
        </div>

        <div class="scoreboard-item">
          <div class="no">
            6
          </div>
          <div class="team">
            <img src="./images/placeholder/m-city.png" alt="">
            <div class="name">Manchester City</div>
          </div>
          <div class="numbers">
            <div class="p">32</div>
            <div class="w">29</div>
            <div class="d">6</div>
            <div class="l">3</div>
            <div class="f">99</div>
            <div class="a">26</div>
            <div class="pm">+73</div>
            <div class="pts">93</div>
          </div>
          <div class="form">
            <div class="win">W</div>
            <div class="draw">D</div>
            <div class="loss">L</div>
            <div class="win">W</div>
            <div class="win">W</div>
          </div>
        </div>

        <div class="scoreboard-item">
          <div class="no">
            7
          </div>
          <div class="team">
            <img src="./images/placeholder/m-city.png" alt="">
            <div class="name">Manchester City</div>
          </div>
          <div class="numbers">
            <div class="p">32</div>
            <div class="w">29</div>
            <div class="d">6</div>
            <div class="l">3</div>
            <div class="f">99</div>
            <div class="a">26</div>
            <div class="pm">+73</div>
            <div class="pts">93</div>
          </div>
          <div class="form">
            <div class="win">W</div>
            <div class="draw">D</div>
            <div class="loss">L</div>
            <div class="win">W</div>
            <div class="win">W</div>
          </div>
        </div>

        <div class="scoreboard-item">
          <div class="no">
            8
          </div>
          <div class="team">
            <img src="./images/placeholder/m-city.png" alt="">
            <div class="name">Manchester City</div>
          </div>
          <div class="numbers">
            <div class="p">32</div>
            <div class="w">29</div>
            <div class="d">6</div>
            <div class="l">3</div>
            <div class="f">99</div>
            <div class="a">26</div>
            <div class="pm">+73</div>
            <div class="pts">93</div>
          </div>
          <div class="form">
            <div class="win">W</div>
            <div class="draw">D</div>
            <div class="loss">L</div>
            <div class="win">W</div>
            <div class="win">W</div>
          </div>
        </div>

        <div class="scoreboard-item">
          <div class="no">
            9
          </div>
          <div class="team">
            <img src="./images/placeholder/m-city.png" alt="">
            <div class="name">Manchester City</div>
          </div>
          <div class="numbers">
            <div class="p">32</div>
            <div class="w">29</div>
            <div class="d">6</div>
            <div class="l">3</div>
            <div class="f">99</div>
            <div class="a">26</div>
            <div class="pm">+73</div>
            <div class="pts">93</div>
          </div>
          <div class="form">
            <div class="win">W</div>
            <div class="draw">D</div>
            <div class="loss">L</div>
            <div class="win">W</div>
            <div class="win">W</div>
          </div>
        </div>

        <div class="scoreboard-item">
          <div class="no">
            10
          </div>
          <div class="team">
            <img src="./images/placeholder/m-city.png" alt="">
            <div class="name">Manchester City</div>
          </div>
          <div class="numbers">
            <div class="p">32</div>
            <div class="w">29</div>
            <div class="d">6</div>
            <div class="l">3</div>
            <div class="f">99</div>
            <div class="a">26</div>
            <div class="pm">+73</div>
            <div class="pts">93</div>
          </div>
          <div class="form">
            <div class="win">W</div>
            <div class="draw">D</div>
            <div class="loss">L</div>
            <div class="win">W</div>
            <div class="win">W</div>
          </div>
        </div>


      </div><!-- section-scoreboard-list -->
    </div>
  </div><!-- scroll-view -->
</div>
