<div class="component-league-selector">
  <div class="display">
    <div class="image">
      <img src="./images/bet-news/premier-league.png" alt="Premier League">
    </div>
    <div class="name">
      <div class="name-group">
        <div class="text">Premier League</div>
        <div class="arrow"><img src="./images/league-selector/down-icon.png" alt="Select League"></div>
      </div>
    </div>
  </div>
  <div class="dropdown-select">
    <a href="#" class="item">
      <div class="image"><img src="./images/bet-news/premier-league.png" alt="Premier League"></div>
      <div class="name">Premier League</div>
    </a>
    <a href="#" class="item">
      <div class="image"><img src="./images/bet-news/UEFA-Champions.png" alt="Premier League"></div>
      <div class="name">Champoins League </div>
    </a>
  </div>
</div>
