<div class="component-menubar">
  <div class="container">
    <div class="menu-mobile-toggle">
      <img src="/images/menubar/toggle-mobile-menu.png" alt="">
    </div>
    <div class="contact-container">
      <a href="./contact-us.html">
        <div class="text">ติดต่อลงโฆษณา</div>
        <div class="number">089-999-8899</div>
      </a>
    </div>
    <div class="menu-container">
      <ul>
        <li class="active"><a href="./index.html">หน้าแรก</a></li>
        <li><a href="./bet-news.html" target="_self">Bet News</a></li>
        <li><a href="./score-board.html" target="_self">ตารางคะแนน</a></li>
        <li><a href="./matches-analyze.html" target="_self">วิเคราะห์บอล</a></li>
        <li><a href="./guru-prediction.html" target="_self">ทีเด็ดบอล</a></li>
        <li><a href="./matches-result.html" target="_self">ผลบอล</a></li>
        <li><a href="./hilight-video.html" target="_self">ไฮไลท์ฟุตบอล</a></li>
      </ul>
    </div>
  </div>
</div>
