<div class="component-searchbar">
  <div class="container">
    <div class="main-logo">
      <a href="/">
        <img src="/images/searchbar/top-logo.png" alt="Cheerball Logo" class="logo">
      </a>
    </div>
    <div class="search">
      <div class="search-group">
        <form>
          <input type="text" placeholder="Search">
          <div class="underline"></div>
          <button type="submit">ENTER</button>
        </form>
      </div>
    </div>
    <div class="social">
      <a href="#" target="_blank">
        <img src="/images/searchbar/top-facebook-icon.png" alt=""><span>Cheerball</span>
      </a>
      <a href="#" target="_blank">
        <img src="/images/searchbar/top-line-icon.png" alt=""><span>@cheerballth</span>
      </a>
    </div>
  </div>
</div>
