<a href="./article.html" class="component-matches-analyze-item">
  <div class="image" style="background-image: url('./images/placeholder/matches-analyze.png');"></div>
  <div class="details">
    <div class="title-tag-desc">
      <div class="title-tag">
        <div class="title line-clamp-1">วิเคราะห์ โรชเดล -VS- แมนส์ฟิลด์ ทาวน์</div>
        <div class="tag">วิเคราะห์บอล</div>
      </div>
      <div class="desc line-clamp-2">
        ราคาบอลโรเดล ต่อ 0.75 <br/>ทรรศนะ โรชเดล ยิงโชว์สาว
      </div>
    </div>
    <div class="meta">
      <div class="date">12 Mar 2022</div>
      <div class="time">01:45</div>
      <div class="viewcount">View 1234</div>
    </div>
  </div>
</a>
