<div class="component-card-video">
  <div class="image floating-video-enable" data-video="/images/placeholder/video-1.mp4">
    <img src="/images/placeholder/video-slick.png" class="thumbnail" alt="ไฮไลท์ฟุตบอลพรีเมียร์ลีก อาร์เซน่อล vs ลิเวอร์พูล">
    <img src="/images/slick/play-btn.png" class="play-btn" alt="">
  </div>
  <div class="details">
    <div class="title">
      <a href="./hilight-video-article.html" target="_self">
        <h3 class="line-clamp-2">ไฮไลท์ฟุตบอลพรีเมียร์ลีก อาร์เซน่อล vs ลิเวอร์พูล</h3>
      </a>
    </div>
    <div class="meta">
      <div class="tag line-clamp-1">Highlight Football</div>
      <div class="time line-clamp-1">56 นาทีที่แล้ว</div>
    </div>
  </div>
</div>
