<div class="floating-video-container full-page">
  <div class="backdrop"></div>
  <div class="video-container">
    <div class="content">
      <video controls autoplay>
          <source src="" type="video/mp4">
          Your browser does not support the video tag.
      </video>
      <div class="screen-control">
        <div class="toggle">
          <img src="/images/floating-video/expand.png" alt="Expand" class="expand">
          <img src="/images/floating-video/minimize.png" alt="Minimize" class="minimize">
        </div>
        <div class="close"><img src="/images/floating-video/close.png" alt="Close"></div>
      </div>
      <div class="ads-slot">
        Example Ads Slot
      </div>
    </div>
  </div>
</div>
