<div class="main-footer">
  <div class="container">
    <div class="main">
      <div>
        <img src="./images/footer-main/footer-main-logo.png" alt="">
      </div>
      <ul>
        <li><a href="./index.html">หน้าแรก</a></li>
        <li><a href="./bet-news.html" target="_self">Bet News</a></li>
        <li><a href="./score-board.html" target="_self">ตารางคะแนน</a></li>
        <li><a href="./matches-analyze.html" target="_self">วิเคราะห์บอล</a></li>
        <li><a href="./guru-prediction.html" target="_self">ทีเด็ดบอล</a></li>
        <li><a href="./matches-result.html" target="_self">ผลบอล</a></li>
        <li><a href="./hilight-video.html" target="_self">ไฮไลท์ฟุตบอล</a></li>
      </ul>
    </div>
    <div class="contact">
      <div class="qr"><img src="./images/footer-main/qrcode.png" alt="@cheerballth"></div>
      <div class="text">
        <div class="leading">อัพเดทข่าวก่อนใครได้ที่นี่</div>
        <div class="lineat">
          <a href="#">
            <div><img src="./images/footer-main/line-at.png" alt="@cheerballth"></div>
            <div>@cheerballth</div>
          </a>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="copy-footer">
  <div class="container">
    <div class="copy">
      © Copyright 2010 www.cheerball.com All Rights Reserved.
    </div>
    <div class="social-group">
      <div class="contact-us">
        <img src="./images/footer-contact/telelphone.png" alt="Contact Us">
        <div>
          <a href="tel:+66899998899">ติดต่อเรา <strong>089-999-8899</strong></a>
        </div>
      </div>
      <div class="social">
        <a href="#" target="_blank">
          <img src="./images/footer-contact/facebook.png" alt="Facebook">
        </a>
        <a href="#" target="_blank">
          <img src="./images/footer-contact/twitter.png" alt="Twitter">
        </a>
        <a href="#" target="_blank">
          <img src="./images/footer-contact/youtube.png" alt="Youtube">
        </a>
        <a href="#" target="_blank">
          <img src="./images/footer-contact/instagram.png" alt="Instagram">
        </a>
      </div>
    </div>
  </div>
</div>
