 <div class="logo-footer">
  <div class="container">
    <a href="#" target="_blank">
      <img src="./images/footer-logo/premier-league.png" alt="Premier League">
    </a>
    <a href="#" target="_blank">
      <img src="./images/footer-logo/laliga.png" alt="LaLiga">
    </a>
    <a href="#" target="_blank">
      <img src="./images/footer-logo/liga.png" alt="Bundes LIGA">
    </a>
    <a href="#" target="_blank">
      <img src="./images/footer-logo/serie-a.png" alt="Series A">
    </a>
    <a href="#" target="_blank">
      <img src="./images/footer-logo/ligue-1.png" alt="Ligue 1">
    </a>
    <a href="#" target="_blank">
      <img src="./images/footer-logo/thai-league.png" alt="Thai League">
    </a>
    <a href="#" target="_blank">
      <img src="./images/footer-logo/thailand.png" alt="Thailand National Football Team">
    </a>
    <a href="#" target="_blank">
      <img src="./images/footer-logo/UEFA-champions.png" alt="UEFA Champions League">
    </a>
    <a href="#" target="_blank">
      <img src="./images/footer-logo/Europa.png" alt="UEFA Europa League">
    </a>
    <a href="#" target="_blank">
      <img src="./images/footer-logo/EURO.png" alt="UEFA EURO2020">
    </a>
    <a href="#" target="_blank">
      <img src="./images/footer-logo/qatar-2022.png" alt="qatar 2022">
    </a>
  </div>
</div>
