<div class="component-article-detail">
  <div class="header-section">
    <h1>ไฮไลท์ฟุตบอลพรีเมียรลีก อารเซน่อล vs ลิเวอร์พูล</h1>
    <div class="meta-social">
      <div class="meta">
        <div class="date-view">
          <div class="date">12 Mar 2022, 18:32</div>
          <div class="pipe"> | </div>
          <div class="views">จำนวนคนดู 32,674 ครั้ง</div>
        </div>
        <div class="tag-group">
          <div class="tag">Highlight Football</div>
          <div class="tag">Manchester City</div>
        </div>
      </div>
      <div class="social">
        <div>แชร์</div>
        <div><img src="/images/article/share-icon.png" alt=""></div>
        <div><img src="/images/article/facebook-icon.png" alt=""></div>
        <div><img src="/images/article/twitter-icon.png" alt=""></div>
        <div><img src="/images/article/line-icon.png" alt=""></div>
      </div>
    </div>
  </div>
  <div class="article-body-section">
    <div class="video-group">
      <div class="poster-group">
        <img src="/images/placeholder/article-1.png" alt="Poster" class="poster">
        <img src="/images/slick/play-btn.png" alt="Play" class="play-btn">
      </div>
      <video controls autoplay>
          <source src="/images/placeholder/video-1.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
    </div>
    <h3>ไฮไลท์ฟุตบอลพรีเมียร์ลีก วันที่ 12 Mar 2022 อาร์เซน่อล VS แมนฯ ยูไนเต็ด</h3>
    <p>
      ทรรศนะจาก “Cheerball” ให้รอง แมนฯ ยูไนเต็ด <br/>
      ราคาบอลเมื่อคืนที่ เว็บสโบเบ็ตเปิด อาร์เซน่อล ต่อ 0.25 ลูก <br/>
      ราคาบอลต่อ อาร์เซน่อล ราคาน้ำ 0.84 <br/>
      ราคา Sbobet ด้วยเงิน 1,000 ได้ 1,840 (รวมทุน)
    </p>
  </div>
</div>
