$white: #FFFFFF;
$grey: #999999;
$blue: #005091;
$yellow: #FABD58;
$black: #31363A;

body {
    font-family: 'Noto Sans Thai', 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F0F0F0;
}

::-moz-selection {
  background-color: $yellow;
}

::selection {
  background-color: $yellow;
}

.container {
  max-width: 1220px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@import 'component-searchbar';
@import 'component-menubar';
@import 'component-breadcrumbs';
@import 'component-header-readmore';
@import 'component-page-header';
@import 'component-video-carousel';
@import 'component-card-video';
@import 'component-scoreboard';
@import 'component-sidebar-scoreboard';
@import 'component-broadcast';
@import 'component-matches-analyze-item';
@import 'component-guru-analyze-item';
@import 'component-date-selector';
@import 'component-article-item';
@import 'component-league-selector';
@import 'component-article-detail';
@import 'component-matches-result';
@import 'show-more';
@import 'footer';
@import 'floating-video-container';

.dev-section {
  display: block;
  text-align: center;
  font-family: monospace;
  background-color: rgba($color: $yellow, $alpha: 0.1);
  padding: 20px;
  border-radius: 6px;
  color: $black;
  line-height: 1.8em;
  span {
    font-weight: bold;
    color: $blue;
    border: 1px solid $yellow;
    padding: 2px 5px;
    border-radius: 5px;
  }
}

.top-push {
  margin-top: 32px;
  @media screen and (min-width: 768px) { 
    margin-top: 48px;
  }
}

.top-push + main {
  margin-top: 20px;
}

.main-sidebar-layout {
  margin-top: 32px;
  @media screen and (min-width: 768px) { 
    margin-top: 48px;
  }
  > .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding-left: 0;
    padding-right: 0;
    @media screen and (min-width: 768px) { 
      grid-template-columns: 1fr 300px;
      grid-gap: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
    @media screen and (min-width: 992px) { 
      grid-template-columns: 1fr 300px;
      grid-gap: 32px;
    }
    @media screen and (min-width: 1200px) { 
      grid-template-columns: 1fr 373px;
      grid-gap: 32px;
    }

    .main {
      padding-left: 16px;
      padding-right: 16px;
      @media screen and (min-width: 768px) { 
        padding-left: 0;
        padding-right: 0;
      }
    }
    .sidebar {
      @media screen and (max-width: 767px) {
        padding-left: 16px;
        padding-right: 16px;
        .no-padding {
          margin-left: -16px;
          margin-right: -16px;
        }
      }
    }
  }
}

section {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) { 
    margin-bottom: 48px;
  }
  .date-name {
    margin-bottom: 16px;
    color: $black;
    font-weight: 500;
    font-size: 12px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
    span {
      color: $blue;
    }
  }
}


.feature-list-layout {
  @media screen and (min-width: 992px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  .list-layout {
    display: grid;
    @media screen and (min-width: 992px) {
      gap: 16px;
    }
  }
  .component-article-item {
    @media screen and (min-width: 992px) {
      margin-bottom: unset;
    }
    &.feature {
      a {
        @media screen and (min-width: 992px) {
          grid-template-rows: 1fr auto;
        }
      }
    }
  }
}

.layout-feature-list-list {
  display: grid;
  gap: 8px;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
  }

  .layoute-list-1,
  .layoute-list-2 {
    .component-article-item {
      margin-bottom: 0;
    }
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    column-gap: 32px;
    @media screen and (min-width: 992px) {
      row-gap: 16px;
    }
  }
  .layoute-list-2 {
    display: none;
    @media screen and (min-width: 992px) {
      display: grid;
    }
  }
}

.sidebar-main-layout {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    @media screen and (min-width: 992px) {
      grid-template-columns: 373px 1fr;
      gap: 32px;
    }
  }
}
