.component-sidebar-broadcast,
.component-broadcast {
  margin-top: 32px;
  @media screen and (min-width: 768px) { 
    margin-top: 48px;
  }
  background-color: $whtie;
  border-radius: 4px;
  .header {
    padding: 16px 16px 8px 16px;
    font-weight: 600;
    color: $black;
    font-size: 16px;
  }
  .carousel-header {
    padding: 8px 16px 16px 16px;
    border-bottom: 1px solid #E5E5E5;
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    align-items: center;
    overflow-y: hidden;
    .slick-arrow {
        width: 100%;
        cursor: pointer;
        opacity: 0.6;
        transition: 0.5s opacity;
        &:hover {
          opacity: 1;
        }
    }
    .nav {
      
      div {
        font-size: 10px;
        font-weight: 700;
        color: #999999;
        border: 1px solid #E5E5E5;
        border-radius: 2px;
        text-align: center;
        margin-right: 8px;
        cursor: pointer;
        transition: 0.5s all;
        overflow: hidden;
        height: 30px;
        display: grid;
        align-items: center;
      }
    }
    .active {
      div {
        background-color: #093051;
        color: $whtie;
        border: none;
        border: 1px solid #093051;
      }
    }
  }

  .broadcast {
    .league-group {
      padding-bottom: 8px;
      .header {
        padding: 16px 16px 4px 16px;
        font-size: 12px;
        color: $black;
        font-weight: 600;
      }
      .line {
        margin-bottom: 2px;
        border-radius: 4px;
        background-color: #F9F9F9;
        margin-left: 2px;
        margin-right: 2px;
        padding: 12px;
        
        display: grid;
        grid-template-columns: 1fr 38px 1fr;
        align-items: center;
        transition: all 0.2s;
        .middle {
          text-align: center;
          font-size: 12px;
          font-weight: 600;
          .show-result {
            display: none;
            align-items: center;
            grid-template-columns: 1fr 6px 1fr;
            .left {
              color: $black;
              text-align: right;
            }
            .mid {
              color: #999999;
            }
            .right {
              color: $black;
              text-align: left;
            }
          }
          .show-vs {
            display: none;
            color: #999999;
          }
        }
        .logo {
          img {
            width: 100%;
            display: block;
          }
        }
        .name {
          font-size: 10px;
          font-weight: 600;
          line-height: 1.2em;
        }
        .meta {
          font-size: 10px;
          font-weight: 700;
          color: #999999;
        }
        .play-btn {
          width: 20px;
          height: 20px;
          background-image: url('/images/broadcast/play-btn.png');
          background-size: 100%;
          background-position: center center;
          background-color: $yellow;
          border-radius: 2px;
          transition: all 0.2s;
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
          }
        }
        .team-left {
          display: grid;
          grid-template-columns: auto 1fr 24px;
          align-items: center;
          grid-gap: 4px;
          .name {
            text-align: right;
          }
        }
        .team-right {
          display: grid;
          grid-template-columns: 24px 1fr auto;
          align-items: center;
          grid-gap: 4px;
        }

        &:hover {
          background-color: rgba($color: $yellow, $alpha: 0.05);
        }

        &.result {
          .show-result {
            display: grid;
          }
          .dash {
            display: none;
          }
        }

        &.upcoming {
          .show-vs {
            display: grid;
          }
          .play-btn {
            text-align: center;
            display: none;
          }
          .dash {
            width: 20px;
            height: 20px;
            text-align: center;
            display: grid;
            align-content: center;
            font-size: 12px;
          }
        }
      }
    }
  }
}
