.component-guru-date-selector {
  border-radius: 4px;
  background-color: $blue;
  color: $white;
  font-size: 16px;
  padding: 12px 14px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 992px) {
    padding: 21px 24px;
    font-size: 20px;
  }
  .date-container {
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    align-items: center;
  }
  .date {
    font-weight: 600;
  }

  #datepicker {
    font-family: 'Noto Sans Thai', 'Noto Sans', sans-serif;
    display: grid;
    text-align: right;
    border: none;
    width: auto;
    background-color: transparent;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    padding-right: 40px;
    @media screen and (min-width: 992px) {
      font-size: 20px;
    }
    background-image: url('/images/guru/arrow-icon.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right center;
  }
}
