.component-matches-analyze-item {
  display: grid;
  overflow: hidden;
  background-color:  $white;
  grid-template-columns: 134px 1fr;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.1s;
  margin-bottom: 8px;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0px 10px 10px 5px rgba(250,189,88,0.1);
    -webkit-box-shadow: 0px 10px 10px 5px rgba(250,189,88,0.1);
    -moz-box-shadow: 0px 10px 10px 5px rgba(250,189,88,0.1);
  }
  .image {
    background-size: cover;
    background-position: center center;
    img {
      max-width: 100%;
    }
  }
  .details {
    padding: 8px;
    display: grid;
    @media screen and (min-width: 768px) {
      padding: 16px;
    }
    @media screen and (min-width: 992px) {
      grid-template-columns: 1fr auto;
    }
    .title-tag-desc {
      display: grid;
      align-items: center;
      .title-tag {
        grid-template-columns: auto;
        justify-content: left;
        margin-bottom: 10px;
        @media screen and (min-width: 992px) {
          display: grid;
          gap: 16px;
          grid-template-columns: auto auto;
        }
        .title {
          color: $blue;
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 8px;
          @media screen and (min-width: 768px) {
            font-weight: 600;
          }
          @media screen and (min-width: 992px) {
            font-size: 16px;
            margin-bottom: unset;
          }
        }
        .tag {
          font-size: 10px;
          font-weight: 700;
          color: $blue;
          background-color: $yellow;
          display: inline-block;
          padding: 4px;
          border-radius: 2px;
        }
      }
      .desc {
        font-family: 'Sarabun', sans-serif;
        font-size: 12px;
        color: #999999;
        line-height: 18px;
        display: none !important;
        @media screen and (min-width: 992px) {
          display: block !important;
        }
      }
    }
    .meta {
      color: #999999;
      @media screen and (min-width: 992px) {
        display: grid;
        align-content: center;
        gap: 8px;
        text-align: right;
      }
      .date {
        font-size: 10px;
      }
      .time {
        font-size: 14px;
        font-weight: 600;
        display: none;
        @media screen and (min-width: 992px) {
          display: block;
        }
      }
      .viewcount {
        font-size: 10px;
        display: none;
        @media screen and (min-width: 992px) {
          display: block;
        }
      }
    }
  }
  &.compact {
    .details {
      gap: 8px;
       @media screen and (min-width: 768px) {
        padding: 24px 16px;
      }
      .title-tag-desc {
        .title-tag {
          margin-bottom: 0;
          .title {
            display: grid;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
          }
        }
      }
    }
  }
}
