.component-sidebar-scoreboard {
  margin-top: 32px;
  @media screen and (min-width: 768px) { 
    margin-top: 48px;
  }
  background-color: $whtie;
  border-radius: 4px;
  .header {
    padding: 12px 16px;
    font-weight: 600;
    color: $black;
    font-size: 16px;
  }
  .league-group.close {
    border-bottom: 1px solid #E5E5E5;
    .score-table {
      max-height: 0;
      overflow: hidden;
    }
    .league-name {
      .text {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
  .league-group {
    // border-bottom: 1px solid #E5E5E5;
    &:last-child {
      border: none;
    }
  }
  .league-name {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    .league-logo {
      padding: 8px 16px;
      img {
        height: 32px;
      }
    }
    .text {
      padding: 8px 16px;
      color: #999999;
      font-weight: 700;
      font-size: 12px;
      cursor: pointer;
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      grid-gap: 6px;
      text-align: right;
      line-height: 1.4em;
      &::after {
        display: block;
        width: 24px;
        height: 24px;
        content: "";
        background-image: url('/images/scoreboard/arrow.png');
        background-size: cover;
        transition: 0.4s all;
      }
    }
  }
  .score-table {
    transition: 0.5s all;
    max-height: 1500px;
    .score-head {
      padding: 10px 16px;
      background-color: #093051;
      display: grid;
      color: #FFFFFF;
      grid-template-columns: 1fr 100px;
      font-size: 10px;
      font-weight: 700;

      .number {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4px;
        span {
          font-size: 6px;
        }
      }
    }
    .score-list {

      .item {
        display: grid;
        grid-template-columns: 1fr 100px;
        padding: 12px 16px;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        position: relative;
        transition: all 0.2s;
        &::after {
          content: "";
          position: absolute;
          height: 1px;
          bottom: 0;
          left: 16px;
          right: 16px;
          background-color: #E5E5E5;
        }
        &:nth-last-child(2) {
          &::after {
            left: 0;
            right: 0;
          }
        }
        &:hover {
          background-color: rgba($color: $yellow, $alpha: 0.05);
        }

        @keyframes up {
          0% {
            background-position: center 0px;
            opacity: 1;
          }
          55% {
            background-position: center -25px;
            opacity: 0;
          }
          56% {
            background-position: center 25px;
            opacity: 0;
          }
          100% {
            background-position: center 0px;
            opacity: 1;
          }
        }
        @keyframes down {
          0% {
            background-position: center 0px;
            opacity: 1;
          }
          55% {
            background-position: center 25px;
            opacity: 0;
          }
          56% {
            background-position: center -25px;
            opacity: 0;
          }
          100% {
            background-position: center 0px;
            opacity: 1;
          }
        }
         &:hover {
           .status.up {
            animation: up 0.4s;
          }
           .status.down {
            animation: down 0.4s;
          }
        }

      }
      .name-status {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        .name-group {
          display: grid;
          grid-gap: 12px;
          grid-template-columns: 16px 24px 1fr;
          align-items: center;
          .no {
            color: #999999;
          }
          .logo {
            img {
              max-width: 100%;
              max-height: 100%;
              width: 100%;
              height: auto;
            }
          }
          .name {
            color: $black;
            line-height: 1.5em;
          }
        }
        .status {
          width: 24px;
          height: 24px;
          background-size: cover;
          background-position: center 0px;
          background-repeat: no-repeat;
          opacity: 1;
          &.up {
            background-image: url('/images/scoreboard/up-icon.png');
          }
          &.down {
            background-image: url('/images/scoreboard/down-icon.png');
          }
          &.stay {
            background-image: url('/images/scoreboard/stay-icon.png');
          }
        }
      }
      .number {
        color: #999999;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
      }
    }
  }
}
