.component-searchbar {
  background-color: $whtie;

  .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 16px;
    align-items: center;
    grid-template-areas: "logo search social";
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "search logo social";
    }
    @media screen and (min-width: 996px) {
      
    }
    @media screen and (min-width: 1280px) {

    }
  }
  .main-logo {
    a {
      display: block;
    }
    img {
      display: block;
      height: 64px;
    }
    grid-area: logo;
  }
  
  .search {
    grid-area: search;
    display: grid;
    justify-content: end;
    justify-items: end;
    grid-template-columns: 1fr;
    @media screen and (min-width: 768px) {
      grid-template-columns: 0.5fr;
      justify-content: start;
      justify-items: start;
      
    }
    .search-group {
      overflow: hidden;
      position: relative;
      transition: 0.5s width;
      width: 30px;
      @media screen and (min-width: 768px) {
        width: 100%;
      }

      input {
        background-image: url('/images/searchbar/top-search-icon.png');
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: left center;
        padding-left: 30px;
        line-height: 32px;
        font-size: 12px;
        font-family: 'Noto Sans Thai', 'Noto Sans', sans-serif;
        border: none;
        outline: none;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
        &::placeholder {
          color: $grey;
        }
      }
      button {
        position: absolute;
        right: 0;
        top: -50%;
        transform: translateY(-50%);
        font-size: 9px;
        z-index: 9;
        color: $yellow;
        padding: 2px 4px;
        border-radius: 3px;
        text-align: center;
        font-weight: bold;
        border: 1px solid $yellow;
        transition: 0.5s;
        opacity: 0;
        background-color: transparent;
        cursor: pointer;
      }
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: $yellow;
      width: 0%;
      transition: 0.5s width;
    }
  }
  .search.active {
    .search-group {
      width: 100%;
      button {
        opacity: 1;
        top: 50%;
      }
    }
    &::after {
      width: 100%;
    }
    width: 100%;
  }

  .social {
    grid-area: social;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
    justify-content: end;
    img {
      width: 32px;
      @media screen and (min-width: 768px) { 
        width: 24px;
      }
    }
    a {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      text-decoration: none;
      font-size: 12px;
      color: $grey;
      @media screen and (min-width: 768px) { 
        grid-gap: 8px;
      }
    }
    span {
      display: none;
      @media screen and (min-width: 768px) { 
        display: inline-block;
      }
    }
  }
}
