footer {
  margin-top: 100px;
  padding-bottom: 16px;
  background-color: #3A464F;
  color: #9CA2A7;
  .logo-footer {
    text-align: center;
    padding: 8px 0;
    background-color: #313D46;
    a {
      display: inline-block;
      margin: 8px 16px;
      img {
        display: inline-block;
        height: 32px;
        opacity: 0.7;
        transition: all 0.2s;
      }
      &:hover {
        img {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }
  }
  .main-footer .container,
  .copy-footer .container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto;
    align-items: center;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr auto;
    }
  }
  .main-footer {
    padding-top: 32px;
    .main {
      img {
        max-width: 180px;
      }
      ul {
        padding: 0;
        margin: 0;
        margin-top: 16px;
        text-align: left;
        li {
          display: inline-block;
          margin-right: 33px;
          margin-bottom: 24px;
          a {
            color: inherit;
            text-decoration: none;
            font-size: 12px;
            &:hover {
              color: $yellow;
            }
          }
        }
      }
    }
    .contact {
      color: $whtie;
      font-size: 22px;
      font-weight: 600;
      text-align: left;
      display: grid;
      grid-template-columns: auto;
      @media screen and (min-width: 768px) {
        grid-template-columns: auto auto;
        grid-gap: 24px;
      }
      justify-content: center;
      .qr {
        img {
          width: 88px;
          display: block;
        }
        display: none;
        @media screen and (min-width: 768px) {
          display: grid;
        } 
      }
      .text {
        .leading {
          margin-bottom: 10px;
          margin-top: 10px;
        }
        .lineat {
          display: grid;
          grid-template-columns: auto auto;
          align-items: center;
          grid-gap: 8px;
          justify-content: center;
          margin-top: 14px;
          font-size: 12px;
          font-weight: 400;
          @media screen and (min-width: 768px) {
            justify-content: left;
          }
          a {
            color: inherit;
            text-decoration: none;
            border: 1px solid #9CA2A7;
            border-radius: 4px;
            padding: 8px 16px;
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            grid-gap: 8px;
            @media screen and (min-width: 768px) {
              padding: unset;
              border: none;
            }
          }
          img {
            width: 24px;
          }
        }
      }
    }
  }
  .copy-footer {
    padding-top: 48px;
    .container {
      grid-template-columns: 1fr;
      grid-template-areas: "socialgroup"
                           "copytext";
      @media screen and (min-width: 768px) {
        grid-template-areas: "copytext socialgroup";
        grid-template-columns: 1fr auto;
      }
    }
    .copy {
      grid-area: copytext;
      font-size: 12px;
      text-align: center;
      padding-top: 24px;
      @media screen and (min-width: 768px) {
        padding-top: 0;
        text-align: left;
      }
    }
    .social-group {
      grid-area: socialgroup;
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      grid-template-areas:"contactus"
                          "social";
      @media screen and (min-width: 768px) {
        grid-template-columns: auto auto;
        grid-template-areas: "contactus social";
      }
      grid-gap: 24px;
      justify-items: center;
    }
    .contact-us {
      grid-area: contactus;
      display: grid;
      align-items: center;
      font-size: 12px;
      grid-template-columns: auto auto;
      align-items: center;
      grid-gap: 8px;
      border: 1px solid #9CA2A7;
      border-radius: 4px;
      padding: 8px 16px;
      @media screen and (min-width: 768px) { 
        padding: unset;
        border: none;
      }
      img {
        width: 12px;
      }
      strong {
        font-weight: 700;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    .social {
      grid-area: social;
      display: grid;
      grid-template-columns: 24px 24px 24px 24px;
      grid-gap: 24px;
      a {
        display: block;
      }
      img {
        opacity: 0.8;
        transition: 0.5s all;
        width: 100%;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
