<div class="component-sidebar-broadcast">
  <div class="header">ตารางถ่ายทอดสด</div>
  <div class="broadcast-carousel-container">
    <div class="carousel-header">
      <div class="nav active"><div>วันนี้</div></div>
      <div class="nav"><div>12 มีนาคม 2565</div></div>
      <div class="nav"><div>13 มีนาคม 2565</div></div>
      <div class="nav"><div>14 มีนาคม 2565</div></div>
      <div class="nav"><div>15 มีนาคม 2565</div></div>
      <div class="nav"><div>16 มีนาคม 2565</div></div>
    </div>

    <div class="broadcast">
      <div class="top-list">
        <div class="league-group">
          <div class="item">
            <div class="header">พรีเมียร์ลีก</div>
            <div class="leagues">
              <div class="line result">
                <div class="team-left">
                  <div class="meta">03:00</div>
                  <div class="name line-clamp-2">Manchester City</div>
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                </div>
                <div class="middle">
                  <div class="show-result">
                    <div class="left">1</div>
                    <div class="mid">:</div>
                    <div class="right">0</div>
                  </div>
                  <div class="show-vs">VS</div>
                </div>
                <div class="team-right">
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                  <div class="name line-clamp-2">Wolverhamption W.</div>
                  <div class="meta">
                    <div class="play-btn"></div>
                    <div class="dash">--</div>
                  </div>
                </div>
              </div><!-- line -->

              <div class="line result">
                <div class="team-left">
                  <div class="meta">03:00</div>
                  <div class="name line-clamp-2">Manchester City</div>
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                </div>
                <div class="middle">
                  <div class="show-result">
                    <div class="left">1</div>
                    <div class="mid">:</div>
                    <div class="right">0</div>
                  </div>
                  <div class="show-vs">VS</div>
                </div>
                <div class="team-right">
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                  <div class="name line-clamp-2">Wolverhamption W.</div>
                  <div class="meta">
                    <div class="play-btn"></div>
                    <div class="dash">--</div>
                  </div>
                </div>
              </div><!-- line -->

              <div class="line upcoming">
                <div class="team-left">
                  <div class="meta">03:00</div>
                  <div class="name line-clamp-2">Manchester City</div>
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                </div>
                <div class="middle">
                  <div class="show-result">
                    <div class="left">1</div>
                    <div class="mid">:</div>
                    <div class="right">0</div>
                  </div>
                  <div class="show-vs">VS</div>
                </div>
                <div class="team-right">
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                  <div class="name line-clamp-2">Wolverhamption W.</div>
                  <div class="meta">
                    <div class="play-btn"></div>
                    <div class="dash">--</div>
                  </div>
                </div>
              </div><!-- line -->
            </div>
          </div> <!-- item -->
        </div><!-- league-group -->

        <div class="league-group">
          <div class="item">
            <div class="header">พรีเมียร์ลีก</div>
            <div class="leagues">
              <div class="line result">
                <div class="team-left">
                  <div class="meta">03:00</div>
                  <div class="name line-clamp-2">Manchester City</div>
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                </div>
                <div class="middle">
                  <div class="show-result">
                    <div class="left">1</div>
                    <div class="mid">:</div>
                    <div class="right">0</div>
                  </div>
                  <div class="show-vs">VS</div>
                </div>
                <div class="team-right">
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                  <div class="name line-clamp-2">Wolverhamption W.</div>
                  <div class="meta">
                    <div class="play-btn"></div>
                    <div class="dash">--</div>
                  </div>
                </div>
              </div><!-- line -->

              <div class="line result">
                <div class="team-left">
                  <div class="meta">03:00</div>
                  <div class="name line-clamp-2">Manchester City</div>
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                </div>
                <div class="middle">
                  <div class="show-result">
                    <div class="left">1</div>
                    <div class="mid">:</div>
                    <div class="right">0</div>
                  </div>
                  <div class="show-vs">VS</div>
                </div>
                <div class="team-right">
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                  <div class="name line-clamp-2">Wolverhamption W.</div>
                  <div class="meta">
                    <div class="play-btn"></div>
                    <div class="dash">--</div>
                  </div>
                </div>
              </div><!-- line -->

              <div class="line upcoming">
                <div class="team-left">
                  <div class="meta">03:00</div>
                  <div class="name line-clamp-2">Manchester City</div>
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                </div>
                <div class="middle">
                  <div class="show-result">
                    <div class="left">1</div>
                    <div class="mid">:</div>
                    <div class="right">0</div>
                  </div>
                  <div class="show-vs">VS</div>
                </div>
                <div class="team-right">
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                  <div class="name line-clamp-2">Wolverhamption W.</div>
                  <div class="meta">
                    <div class="play-btn"></div>
                    <div class="dash">--</div>
                  </div>
                </div>
              </div><!-- line -->

            </div>
          </div><!-- item -->
        </div><!-- league-group -->
      </div><!-- top-list -->

      <div class="more-list">
        <div class="league-group">
          <div class="item">
            <div class="header">พรีเมียร์ลีก</div>
            <div class="leagues">
              <div class="line upcoming">
                <div class="team-left">
                  <div class="meta">03:00</div>
                  <div class="name line-clamp-2">Manchester City</div>
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                </div>
                <div class="middle">
                  <div class="show-result">
                    <div class="left">1</div>
                    <div class="mid">:</div>
                    <div class="right">0</div>
                  </div>
                  <div class="show-vs">VS</div>
                </div>
                <div class="team-right">
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                  <div class="name line-clamp-2">Wolverhamption W.</div>
                  <div class="meta">
                    <div class="play-btn"></div>
                    <div class="dash">--</div>
                  </div>
                </div>
              </div>

              <div class="line upcoming">
                <div class="team-left">
                  <div class="meta">03:00</div>
                  <div class="name line-clamp-2">Manchester City</div>
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                </div>
                <div class="middle">
                  <div class="show-result">
                    <div class="left">1</div>
                    <div class="mid">:</div>
                    <div class="right">0</div>
                  </div>
                  <div class="show-vs">VS</div>
                </div>
                <div class="team-right">
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                  <div class="name line-clamp-2">Wolverhamption W.</div>
                  <div class="meta">
                    <div class="play-btn"></div>
                    <div class="dash">--</div>
                  </div>
                </div>
              </div>

              <div class="line upcoming">
                <div class="team-left">
                  <div class="meta">03:00</div>
                  <div class="name line-clamp-2">Manchester City</div>
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                </div>
                <div class="middle">
                  <div class="show-result">
                    <div class="left">1</div>
                    <div class="mid">:</div>
                    <div class="right">0</div>
                  </div>
                  <div class="show-vs">VS</div>
                </div>
                <div class="team-right">
                  <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                  <div class="name line-clamp-2">Wolverhamption W.</div>
                  <div class="meta">
                    <div class="play-btn"></div>
                    <div class="dash">--</div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- item -->
        </div><!-- league-group -->
      </div>
      <!-- more-list -->

      <div class="show-more">
        <div class="button hide">
          <div class="text"><span class="expand">แสดงทั้งหมด</span><span class="collapse">ซ่อน</span></div>
          <div class="image"><img src="/images/scoreboard/double-down.png" alt=""></div>
        </div>
      </div>
    </div><!-- broadcast -->
  </div>
</div>
