<div class="component-header-readmore">
  <h2 class="line-clamp-1">Latest Video</h2>
</div>
<div class="component-article-item video feature">
  <a href="#" target="_self">
    <div class="image floating-video-enable" data-video="/images/placeholder/video-1.mp4" style="background-image: url('/images/placeholder/video-slick.png');">
      <img src="/images/slick/play-btn.png" alt="Play">
    </div>
    <div class="details">
      <div class="title-group">
        <div class="title line-clamp-2">ไฮไลท์ฟุตบอลลาลีกา เรอัล มาดริด VS บาร์เซโลน่า</div>
        <div class="desc line-clamp-2">สกาย เบท ร้านพูลชั้นนำของเมืองผู้ดี ปรับราคาอีกครั้งในเคสที่ ลิเวอร์พูล จะเข้าวินเป็น 4 แชมป์ในฤดูกาลนี้</div>
      </div>
      <div class="meta">
        <div class="tag line-clamp-1">Special Moment</div>
        <div class="date-time line-clamp-1">9 Mar 2022, 22:46</div>
      </div>
    </div>
  </a>
</div> 
