<div class="component-sidebar-scoreboard">
  <div class="header">ตารางคะแนน</div>
  <div class="league-group">

    <div class="league-name">
      <div class="league-logo">
        <img src="/images/placeholder/logo-pl.png" alt="Premier League">
      </div>
      <div class="text">
        View 2021/2022 Fixtures
      </div>
    </div>
    <div class="score-table">
      <div class="score-head">
        <div class="name">Team</div>
        <div class="number">
          <div>Pid</div>
          <div>GD</div>
          <div>P<span>ts</span></div>
        </div>
      </div>
      <div class="score-list">

        <div class="top-list">

          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">1</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester City</div>
              </div>
              <div class="status up"></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">2</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester City</div>
              </div>
              <div class="status down "></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">3</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester United</div>
              </div>
              <div class="status stay "></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">4</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester United</div>
              </div>
              <div class="status"></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">5</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester United</div>
              </div>
              <div class="status"></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

        </div><!-- top-list -->
        <div class="more-list">
          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">6</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester United</div>
              </div>
              <div class="status"></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">7</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester United</div>
              </div>
              <div class="status"></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">8</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester United</div>
              </div>
              <div class="status"></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">9</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester United</div>
              </div>
              <div class="status"></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">10</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester United</div>
              </div>
              <div class="status"></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

        </div><!-- more-list -->
      
        <div class="show-more">
          <div class="button hide">
            <div class="text"><span class="expand">แสดงทั้งหมด</span><span class="collapse">ซ่อน</span></div>
            <div class="image"><img src="/images/scoreboard/double-down.png" alt=""></div>
          </div>
        </div>

      </div>

    </div>
  </div> <!-- league-group -->

  <div class="league-group close">
    <div class="league-name">
      <div class="league-logo">
        <img src="/images/placeholder/logo-laliga.png" alt="LaLiga">
      </div>
      <div class="text">
        View 2021/2022 Fixtures
      </div>
    </div>
    <div class="score-table">
      <div class="score-head">
        <div class="name">Team</div>
        <div class="number">
          <div>Pid</div>
          <div>GD</div>
          <div>P<span>ts</span></div>
        </div>
      </div>
      <div class="score-list">
        <div class="top-list">
          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">1</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester City</div>
              </div>
              <div class="status up"></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">2</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester City</div>
              </div>
              <div class="status down"></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->

          <div class="item">
            <div class="name-status">
              <div class="name-group">
                <div class="no">3</div>
                <div class="logo"><img src="/images/placeholder/m-city.png" alt="Manchester City"></div>
                <div class="name">Manchester United</div>
              </div>
              <div class="status stay"></div>
            </div>
            <div class="number">
              <div>28</div>
              <div>50</div>
              <div>69</div>
            </div>
          </div><!-- item -->
        </div><!-- top-list -->
        <div class="more-list">
        </div>
        <!-- more-list -->

        <div class="show-more">
          <div class="button hide">
            <div class="text"><span class="expand">แสดงทั้งหมด</span><span class="collapse">ซ่อน</span></div>
            <div class="image"><img src="/images/scoreboard/double-down.png" alt=""></div>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- league-group -->
</div> <!-- component-sidebar-scoreboard -->
